<p>New matched jobs:</p>

<ul>
  {% for job in jobs_new %}
    <li>
      <a style="color: #4CA6BC" href="{{ settings.FRONTEND_URL }}/?jobPk={{ job.post_pk }}&utm_source=job-board-alerts">{{ job.title }} at {{ job.company_name}}</a>
    </li>
  {% endfor %}
</ul>

<p>
  <a style="color: #4CA6BC" href="{{ settings.FRONTEND_URL }}/{{ job_alert.generate_query_string }}&utm_source=job-board-alerts&utm_campaign=filters">
    Link to your search results.
  </a>
  <!-- (you can also see your filter terms here). -->
</p>

<p>
  Or see <a style="color: #4CA6BC" href="{{ settings.FRONTEND_URL }}/?utm_source=job-board-alerts&utm_campaign=home">our full list of curated roles</a>.
</p>

<p>
  This is a beta feature that we're looking to improve. You can unsubscribe
  <a style="color: #4CA6BC" href="{{ settings.BASE_URL }}{{ url_unsubscribe }}">here</a>.
</p>

<hr/>

<div style="font-size: 12px;">
<div style="padding-bottom: 4px;">
<p>You are receiving this alert because you signed up at <a style="color: #4CA6BC" href="{{settings.FRONTEND_URL}}">jobs.80000hours.org</a>.</p>

<p>80,000 Hours is part of the Centre for Effective Altruism, a registered charity in England and Wales (Charity Number 1149828) and a registered 501(c)(3) Exempt Organization in the USA (EIN 47-1988398).</p>
<div style="padding-top: 4px;">
<p style="font-weight: bold; line-height: 0.5">Our mailing address is:</p>
<p style="line-height: 0.5;">80,000 Hours</p>
<p style="line-height: 0.5;">Centre for Effective Altruism, Trajan House, Mill Street, Oxford, Oxfordshire OX2 0DJ, United Kingdom</p>
</div>
</div>

<p>
  If you’re using Gmail, our emails may be delivered to your "Promotions" tab. To prevent this, you can manually drag our emails into your "Primary" tab.
</p>
</div>