<p>New matched jobs:</p>

<ul>
  {% for job in jobs_new %}
    <li>
      <a style="color: #4CA6BC" href="{{ job.url_external }}">{{ job.title }} at {{ job.company_name}}</a>
    </li>
  {% endfor %}
</ul>

<p>
  <a style="color: #4CA6BC" href="{{ settings.FRONTEND_URL }}/{{ job_alert.query_string }}">
    Link to your search results
  </a>
  (you can also see your filter terms here).
</p>

<p>
  Or see <a style="color: #4CA6BC" href="{{ settings.FRONTEND_URL }}">our full list of curated roles</a>.
</p>

<p>
  This is a beta feature that we're looking to improve. You can unsubscribe
  <a style="color: #4CA6BC" href="{{ settings.BASE_URL }}{{ url_unsubscribe }}">here</a>.
</p>
